<div class="tablero">
    <table>
        <tr>
            <td class="fila-0 columna-0"></td>
            <td class="fila-0 columna-1"></td>
            <td class="fila-0 columna-2"></td>
            <td class="fila-0 columna-3"></td>
            <td class="fila-0 columna-4"></td>
            <td class="fila-0 columna-5"></td>
            <td class="fila-0 columna-6"></td>
        </tr>
        <tr>
            <td class="fila-1 columna-0"></td>
            <td class="fila-1 columna-1"></td>
            <td class="fila-1 columna-2"></td>
            <td class="fila-1 columna-3"></td>
            <td class="fila-1 columna-4"></td>
            <td class="fila-1 columna-5"></td>
            <td class="fila-1 columna-6"></td>
        </tr>
        <tr>
            <td class="fila-2 columna-0"></td>
            <td class="fila-2 columna-1"></td>
            <td class="fila-2 columna-2"></td>
            <td class="fila-2 columna-3"></td>
            <td class="fila-2 columna-4"></td>
            <td class="fila-2 columna-5"></td>
            <td class="fila-2 columna-6"></td>
        </tr>
        <tr>
            <td class="fila-3 columna-0"></td>
            <td class="fila-3 columna-1"></td>
            <td class="fila-3 columna-2"></td>
            <td class="fila-3 columna-3"></td>
            <td class="fila-3 columna-4"></td>
            <td class="fila-3 columna-5"></td>
            <td class="fila-3 columna-6"></td>
        </tr>
        <tr>
            <td class="fila-4 columna-0"></td>
            <td class="fila-4 columna-1"></td>
            <td class="fila-4 columna-2"></td>
            <td class="fila-4 columna-3"></td>
            <td class="fila-4 columna-4"></td>
            <td class="fila-4 columna-5"></td>
            <td class="fila-4 columna-6"></td>
        </tr>
        <tr>
            <td class="fila-5 columna-0"></td>
            <td class="fila-5 columna-1"></td>
            <td class="fila-5 columna-2"></td>
            <td class="fila-5 columna-3"></td>
            <td class="fila-5 columna-4"></td>
            <td class="fila-5 columna-5"></td>
            <td class="fila-5 columna-6"></td>
        </tr>
    </table>
</div>